<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">	

 <display-name>Audimetro Social</display-name>
  
  <servlet>
  	<servlet-name>websocket</servlet-name>
  	<servlet-class>lisw.audimetrosocial.servlet.StreamingServlet</servlet-class>
  	
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>websocket</servlet-name>
  	<url-pattern>/ws/streaming</url-pattern>
  </servlet-mapping>
  
</web-app>
